
h1 {
  text-align: center;
}

button {
  text-align: center;
}

html { 
  background: url(../images/blue_bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* CSS */
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.textarea-class {
  font-size: 20px;
}

.card1 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s ease;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1rem 1rem;
  background-color: cyan;
  background-size: cover;
  background-repeat: repeat-x;
  background-position-y: bottom;
  border-width: 0;
  
}

.card2 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s ease;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1rem 1rem;
  background-color: cyan;
  border-width: 0;
  
  
}

.card3 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s ease;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1rem 1rem;
  background-color: lightGreen;
  border-width: 0;
  
}

.card5 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s ease;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1rem 1rem;
  background-color: lightGreen;
  background-image: green;
  background-size: cover;
  background-repeat: repeat-x;
  background-position-y: bottom;
  border-width: 0;
  
}

.card8 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s ease;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1rem 1rem;
  background-color: rgb(248, 189, 79);
  border-width: 0;
  
}

.card13 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s ease;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1rem 1rem;
  background-color: rgb(248, 189, 79);
  border-width: 0;
  
}

.card21 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s ease;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1rem 1rem;
  background-color: rgb(248, 189, 79);
  border-width: 0;
  
}

.cardQuestionMark {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s ease;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1rem 1rem;
  background-color: violet;
  border-width: 0;
  
}

.latin-font {
  font-family: 'Intern', sans-serif; /* Replace with the font's actual family name */
}


.cardPass {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s ease;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1rem 1rem;
  background-color: grey;
  border-width: 0;
  
}


.form-input {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 1.5rem;
}

.label-input {
  display: block;
  text-align: center;
  margin: auto;
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}

/* CSS */
.button-12 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  /* font-size: 16px; */
  justify-content: center;
  text-decoration: none;
  border: 1;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

.button-12:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.footer { 
  position: absolute; 
  bottom: 3%; 
  left: 0; 
  z-index: 10;
  justify-content: center;
  width:100%
}

.cardUp {
  transform: translateY(-20px); /* Moves the button 10px up */
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s ease;
  border-radius: 5px; /* 5px rounded corners */
  padding: 1rem 1rem;
  background-color: cyan;
  border-width: 0;
  
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Optional: space between buttons */
}

button {
  padding: 10px;
  font-size: 16px;
}

.input-for-session {
  width: 30rem; /* Adjust the width to your preference */
  height: 10rem; /* You can adjust the height as well */
  font-size: 16px; /* Increase the text size inside the input */
  box-sizing: border-box; /* Ensures padding and border are included in the total width/height */
}



/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.button-34 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  /* font-size: 16px; */
  justify-content: center;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}

html {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}

div {
  border: solid transparent;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html {
  min-height: 100%;    
  margin: 0px;    
  padding: 0px;
  border: solid transparent;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}


