
h1 {
  text-align: center;
}

button {
  text-align: center;
}


/* CSS */
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.form-input {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 1.5rem;
}

.label-input {
  display: block;
  text-align: center;
  margin: auto;
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}

/* CSS */
.button-12 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  justify-content: center;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

.button-12:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.ol {
  outline-style: solid;
}

.margin0 {
  margin: 0
}

.marginTop {
  margin-top: 4.5%;
}



